/*
/main/ 웹페이지의 css 설정파일

*/

/* 기본 설정 * { margin : 0, padding : 0 }

body { font-family: sans-serif;}

li {list-style:  none;}

a { text-decoration : none;}

img { border : 0;} */

header {
    margin-top : 5%;
    margin-left : 10%;
    margin-right : 10%;
    text-align : center;
    font-size: 50px;
    font-family: 'sans-serif';
    font-weight : bold;
    color: red;
    text-shadow: 4px 4px darkred;
}

.main_box {
    margin-left : 30%;
    margin-right : 30%;
    display : flex;
    flex-flow : row;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 800px;
    margin-left: 365px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px 5px darkred;
}

.text-center {
    text-align: center!important;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.card-deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
    height: 60%;
    width: 100%;
    color: white;
}

.card-header1{
    background-color: red;
    font-weight: bold;
    font-size: 18px;
}

.card-header2{
    background-color: red;
    font-weight: bold;
    font-size: 18px;
}

.list-unstyled, .mt-3, .mb-4{
    font-size: 12.5px;
}


*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: black;
    text-align: left;
}


.card-body {
    text-align : left;
}



:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

*, ::after, ::before {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}

button{
    margin-left : 40%;
    margin-right : 40%;
    background : greenyellow;
    color:#fff;
    
    border:none;
    border-radius: 5px;
    box-shadow: black;

    position:relative;
    width : 90px;
    height : 35px;
    font-size:1em;
    font-weight: bold;
    color : black;

    cursor:pointer;
    /* transition:800ms ease all;
    outline:none; */
  }
  button:hover{
    background:#fff;
    color : blue;
    /* color:#1AAB8A; */
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:3px;
    width:0;
    background: blue;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
.public_info_img1 {
    display: block;
    margin : 0px auto;
}

footer{
    color: white;
    font-size: 13px;
    font-weight: bold;
}